ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.memes-block {
  max-width: 50vw;
  padding: 20px 0;
  overflow: hidden;
  margin: 0 auto;
  background-color: dimgrey;
  display: flex;
  flex-direction: column;
}

.slider-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.slider {
  display: flex;
  justify-content: center;
}

.img-container {
  display: block;
  width: 50vw;
}

.img-container img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.controls {
  display: flex;
  gap: 4px;
  padding: 4px;
}

.control {
  width: 24px;
  height: 24px;
  display: flex;
}
